.superInput {
    border: 3px solid black;
    background: #b2d7e5;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}

.newSpanClassName {
    color: blueviolet;
    font-family: "Berlin Sans FB";

    }