.App {
  text-align: center;
}
.navbar{
  background-color: #545464;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;

}
.navbar a{
  color: white;
}
.navbar a:hover{
  color:wheat;
}

.button {
  background-color: initial;
  background-image: linear-gradient(rgba(132, 201, 180, 0.84), rgba(4, 74, 154, 0.84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgb(57 31 91 ) 0 2px 2px, rgb(179 132 201 ) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Quicksand, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 8px;
  margin: 5px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgb(255 255 255 ) 0 0 4px, rgb(255 255 255) 0 0 12px, rgb(57 31 91 ) 1px 1px 4px, rgb(57 31 91 ) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.button_active{
  background-image: linear-gradient(rgba(132, 201, 133, 0.84), rgba(222, 213, 25, 0.84) 50%);
}



.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #efeaea;
}



